@media (max-width: 1199px) {
  .management {
    &__img2 {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .hero {
    &__title {
      font-size: 60px;
    }

    &__mobile {
      display: none;
    }
  }
  .application {
    &__item {
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
  .logo-list {
    &__item {
      margin: 0 10px;
    }
  }
}

.testimonials {
  &__title {
    font-size: 40px;
  }

  &__left-side {
    svg {
      display: none;
    }

    padding-left: 0;
  }
}

.stats {
  &__title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .nav-btn {
    display: flex;
    position: fixed;
    right: 30px;
    top: 30px;

  }
  .nav__item:after {
    display: none;
  }
  .nav-btn.active span:before {
    transform: rotate(45deg);
    top: 0;
  }
  .nav-btn.active span:after {
    transform: rotate(-45deg);
    top: 0;
  }
  .nav-btn.active span {
    background-color: transparent;
  }
  .nav {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    background: mediumpurple;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.6s;

    .navbar__link {
      margin: 15px 0;
    }
  }
  .nav.active {
    right: 0;
  }
  .management {
    &__pictures {
      display: none;
    }
  }
  .logo-list {
    &__item {
      margin-bottom: 15px;
    }
  }
  .feature {
    &__card {
      &__info {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .hero {
    &__title {
      padding-top: 150px;
    }
  }
  .testimonials {
    padding: 15px;
    &__title {
      font-size: 25px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
    }

    &-card {
      padding: 10px;
    }
  }
  .grid__col_6 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .headline {
    padding: 30px 0;
  }
  .headline__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .management__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .fashion__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .btn {
    padding: 12px 21px;
    font-size: 12px;
    line-height: 15px;
  }

}

@media (max-width: 480px) {
  .hero {
    &__title {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .management {
    &__title {
      font-size: 30px;
      padding-top: 10px;
    }
  }
  .feature {
    padding: 15px;

    &__title {
      font-size: 30px;
    }
  }
}

.stats {
  padding: 15px 0;
}

.headline {
  &__content {
    margin-top: 15px;
  }

  .fashion {
    padding: 15px 0;
  }

  .management {
    padding: 10px 0;
  }

  .footer {
    &__content {
      display: inline-block;
      width: 100%;
    }
  }

}